GuardarCodigo.py
Base_Datos_Productos.db
Base_Datos_Usuarios.db
TWO.py
nice/Lib/site-packages/pyodbc-5.1.0.dist-info/
nice/Lib/site-packages/pyodbc.cp310-win_amd64.pyd
nice/Lib/site-packages/pyodbc.pyi
pruebas.py
prueba2.py
html.html
productos.txt
Dockerfile
.env