<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', path='Editar_Producto.css') }}">
</head>
<body>
    <h2>
        <form action="Producto_editado" method="post">
            <input type="hidden" name="ID" value="{{ ID }}">
            <input type="text" name="Nombre_Editado" placeholder="Nombre...">
            <input type="text" name="Precio_Editado" placeholder="Precio...">
            <input type="text" name="Descripcion_Editada" placeholder="Descripción...">
            <a href="/Productos">Cancelar</a>
            <input type="submit" value="Aceptar"/>
        </form>
    </h2>
</body>
</html>