<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='cssstyles.css') }}">
</head>
<body>
    <main>
    <h1>Productos</h1>
        <form action="/Productoss" method="post">
            <input type="text" name="Nombre_Producto" placeholder="Producto..."/>
            <input type="text" name="Precio_Producto" placeholder="Precio..."/>
            <input type="text" name="Descripcion_Producto" placeholder="Descripción..."/>
            <input type="submit" value="Ingresar Datos"/>
        </form>
    <h2>Lista de: <a href="/Productos">productos</a></h2>
    </main>
</body>
</html>