<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/LoginUser" method="post">
        <input type="text" name="UserName" id="UserName" placeholder="Nombre de usuario">
        <input type="password" name="PassWord" id="PassWord" placeholder="Contraseña">
        <input type="submit" value="Ingresar">
    </form>
    <div>
        <h2><a href="/Register" >Register </a></h2>
    </div>
</body>
</html>