<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='Productos.css') }}">
</head>
<body>
    <div>
        <H1>Base de Datos</H1>
        <H3> 
            <a href="/">Inicio</a>
        </H3>
    </div>   
     
    <div>
        <form action="/Lista_Buscador" method="post">
            <div>
                <input type="search" name="Buscar_Producto_s" placeholder="Buscar Producto"/>
                <input type="submit" class="search__btn" value="Buscar"/>
            </div>
        </form>
    </div>

    <div>
        {% for dato in Datos %}
            <article>
                <h2>{{ dato[1] }} {{ dato[2] }}</h2>
                <div>
                    <a href="/Producto_Eliminar?ID={{dato[0]}}">Eliminar</a>
                    <a href="/Editar_Producto?ID={{dato[0]}}">Editar</a>
                    <a href="/Producto?ID={{dato[0]}}">Producto</a>
                    <input type="checkbox" name="checkbox" id="checkbox">
                </div>
            </article>
        {% endfor %}
    </div>
</body>
</html>